@model EChallan.Web.Models.ChallanDetails

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ChallanDetails</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Price)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ChallaNumberDetail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ChallaNumberDetail.ChallanNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Issue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Issue.IssueDescription)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CDID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
