@model IEnumerable<EChallan.Web.Models.ChallanDetails>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ChallaNumberDetail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Issue)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ChallaNumberDetail.ChallanNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Issue.IssueDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CDID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CDID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CDID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
